{% extends "base.html" %}

{% block title %}Journal Entry{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5"> 
        <form style="width:40vw" action="{{ url_for('create_journal') }}" method="post">
            <div class="form-group">
                <label for="entry" class="d-flex justify-content-center"><h2>Start Writing</h2></label>
                <div class="input-group mb-3">
                    <span class="input-group-text bg-primary text-white" id="title">Title</span>
                    <input type="text" class="form-control" aria-label="Title" aria-describedby="title" name="title">
                </div>
                <textarea rows="15" cols="25" class="form-control bg-light" aria-label="entry" id="entry" name="entry"></textarea>
            </div>  
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
{% endblock %}