{% extends "base.html" %}

{% block title %}VIEW{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-3" style="border-radius: 10px;">
        <table class="table table-primary table-hover shadow" style="border-radius: 10px;"  id="dataTable">
            <thead>
                <tr>
                    <th style="text-align: center; width: 15%;">Date</th>
                    <th style="text-align: center; width: 5%;">Mood</th>
                    <th style="text-align: center; width: 5%;">Hours Slept</th>
                    <th style="text-align: center; width: 5%;">Focus</th>
                    <th style="text-align: center; width: 60%;">Notes</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="d-flex justify-content-start" style="margin-left: 2%">
        <button id="prev" class="btn btn-primary mt-3"> &lt; </button>
            <div class="d-flex align-items-center pt-3 px-4">
                <div id="pageInfo"></div>
            </div>
        <button id="next" class="btn btn-primary mt-3"> &gt; </button>
    </div>
    <div class="d-flex justify-content-center">
        <div id="chart-container">
            <canvas id="mood-sleep-chart"></canvas>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div id="chart-container">
            <canvas id="mood-sleep-chart-all"></canvas>
        </div>
    </div>
    <script>
        const data = {{ data | tojson }};
        const headers = ["dates", "moods", "sleeps", "focuses", "notes"]
        const totalRows = data["dates"].length;
        const rowsPerPage = 7;
        const tableBody = document.querySelector("#dataTable tbody")
        const prevButton = document.getElementById("prev")
        const nextButton = document.getElementById("next")
        const pageInfo = document.getElementById("pageInfo")
        const totalPages = Math.ceil(totalRows / rowsPerPage);
        const ctx = document.getElementById('mood-sleep-chart').getContext('2d');
        const cty = document.getElementById('mood-sleep-chart-all').getContext('2d');
        let currentPage = totalPages;
        const lastPageRows = totalRows%rowsPerPage == 0 ? 7 : totalRows%rowsPerPage

        data["dates"].forEach((rowDate, index, array) => {
            array[index] = rowDate.slice(0, 10);
        });

        var myChart = createCalendar(cty, data, "All Time")
        var myChart = createCalendar(ctx, data, "Selected Week", [totalRows-lastPageRows-1, totalRows])
        displayTable(currentPage);

        function displayChart(page){
            const start = (page - 1) * rowsPerPage;
            const end = start + rowsPerPage;
            myChart = createCalendar(ctx, data, "Selected Week", [page == 1? 0 : start-1, end])
        }
        function displayTable(page){
            tableBody.innerHTML = "";
            const start = (page - 1) * rowsPerPage;
            const end = start + rowsPerPage;
            for (let i = start; i < end && i < totalRows; i++) {
                let rowHTML = "<tr>";
                headers.forEach(key => {
                    if (key == "notes") {
                        rowHTML += `<td id="noteRow">${data[key][i]}</td>`;
                    } else {
                        rowHTML += `<td>${data[key][i]}</td>`;
                    }
                });
                rowHTML += "</tr>";
                tableBody.innerHTML += rowHTML;
            }
            pageInfo.textContent = `Page ${page} of ${totalPages}`;
            prevButton.disabled = page === 1;
            nextButton.disabled = page === totalPages;
        }

        function reRenderElements(currentPage){
            displayTable(currentPage);
            myChart.destroy()
            displayChart(currentPage);
        }

        prevButton.addEventListener("click", () => {
            if (currentPage > 1) {
            currentPage--;
            reRenderElements(currentPage)
            }
        });

        nextButton.addEventListener("click", () => {
            if (currentPage < totalPages) {
            currentPage++;
            reRenderElements(currentPage)
            }
        });

        function createCalendar(element, data, title, range=0) {
            if (range == 0){
                range = [0, data["dates"].length+1]
            }
            return new Chart(element, {
                type: 'line',
                data: {
                    labels: data["dates"].slice(...range),
                    datasets: [
                        {
                            label: 'Mood Score',
                            data: data["moods"].slice(...range),
                            borderColor: 'blue',
                            fill: false,
                            tension: 0.3
                        },
                        {
                            label: 'Sleep Hours',
                            data: data["sleeps"].slice(...range),
                            borderColor: 'green',
                            fill: false,
                            tension: 0.3
                        },
                        {
                            label: 'Focus Level',
                            data: data["focuses"].slice(...range),
                            borderColor: 'red',
                            fill: false,
                            tension: 0.3
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        title: {
                            display: true,
                            text: `${title}`
                        },
                        legend: { position: 'top' }
                    },
                    scales: {
                        y: {
                            min: 0,
                            max: 10,
                        }
                    }
                }
            });
            }
    </script>
{% endblock %}
