{% extends "base.html" %}

{% block title %}VIEW{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-3" style="border-radius: 10px;">
        <table class="table table-primary table-hover shadow" style="border-radius: 10px;"  id="dataTable">
            <thead>
                <tr>
                    <th style="text-align: center; width: 15%;">Date</th>
                    <th style="text-align: center; width: 5%;">Mood</th>
                    <th style="text-align: center; width: 5%;">Hours Slept</th>
                    <th style="text-align: center; width: 5%;">Focus</th>
                    <th style="text-align: center; width: 60%;">Notes</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="d-flex justify-content-start" style="margin-left: 2%">
        <button id="prev" class="btn btn-primary mt-3"> &lt; </button>
            <div class="d-flex align-items-center pt-3 px-4">
                <div id="pageInfo"></div>
            </div>
        <button id="next" class="btn btn-primary mt-3"> &gt; </button>
    </div>
    <div class="d-flex justify-content-center">
        <div id="chart-container">
            <canvas id="mood-sleep-chart"></canvas>
        </div>
    </div>
    <script>
            const labels = {{ data["dates"] | tojson }};
            const moods = {{ data["moods"] | tojson }};
            const sleeps = {{ data["sleeps"] | tojson }};
            const focuses = {{ data["focuses"] | tojson }};


            const ctx = document.getElementById('mood-sleep-chart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels.toReversed(),
                    datasets: [
                        {
                            label: 'Mood Score',
                            data: moods.toReversed(),
                            borderColor: 'blue',
                            fill: false,
                            tension: 0.3
                        },
                        {
                            label: 'Sleep Hours',
                            data: sleeps.toReversed(),
                            borderColor: 'green',
                            fill: false,
                            tension: 0.3
                        },
                        {
                            label: 'Focus Level',
                            data: focuses.toReversed(),
                            borderColor: 'red',
                            fill: false,
                            tension: 0.3
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: { position: 'top' }
                    },
                    scales: {
                        y: {
                            min: 0,
                            max: 10,
                        }
                    }
                }
            });
    </script>
    <script>
        const data = {{ data | tojson }};
        const headers = ["dates", "moods", "sleeps", "focuses", "notes"]
        const totalRows = data["dates"].length;
        const rowsPerPage = 7;
        const tableBody = document.querySelector("#dataTable tbody")
        const prevButton = document.getElementById("prev")
        const nextButton = document.getElementById("next")
        const pageInfo = document.getElementById("pageInfo")
        const totalPages = Math.ceil(totalRows / rowsPerPage);
        let currentPage = 1;

        data["dates"].forEach((rowDate, index, array) => {
            array[index] = rowDate.slice(0, 10);
        });


        function displayTable(page){
            tableBody.innerHTML = "";
            const start = (page - 1) * rowsPerPage;
            const end = start + rowsPerPage;
            for (let i = start; i < end && i < totalRows; i++) {
                let rowHTML = "<tr>";
                headers.forEach(key => {
                    if (key == "notes") {
                        rowHTML += `<td id="dateRow">${data[key][i]}</td>`;
                    } else {
                        rowHTML += `<td>${data[key][i]}</td>`;
                    }
                });
                rowHTML += "</tr>";
                tableBody.innerHTML += rowHTML;
            }
            pageInfo.textContent = `Page ${page} of ${totalPages}`;
            prevButton.disabled = page === 1;
            nextButton.disabled = page === totalPages;
        }

        prevButton.addEventListener("click", () => {
            if (currentPage > 1) {
            currentPage--;
            displayTable(currentPage);
            }
        });

        nextButton.addEventListener("click", () => {
            if (currentPage < totalPages) {
            currentPage++;
            displayTable(currentPage);
            }
        });

        displayTable(currentPage)
    </script>
{% endblock %}
